<h1>Log In Below:</h1>

<form method='POST' action='/sessions'>
  Email: <input type='string' name='email'>
  Password: <input type='string' name='password'>
  <input type='submit' value='Log In'>
</form>

