<h1>Sign Up Below:</h1>

<form method='POST' action='/registrations'>
  Name: <input type='string' name='name'>
  Email: <input type='string' name='email'>
  Password: <input type='string' name='password'>
  <input type='submit' value='Sign Up'>
</form>

